
{%extends "index.html"%}
{%load static%}
{%block content%}
<div class="home-intro">
    <div class="p-4">
       <div class="p-4 bg-white flex justify-between items-center">
        <div>
            <h1 class="text-2xl logo font-bold">Leviva <br> Travel</h1>
        </div>
        <div>
            <a href="#">Safaris</a>
            <a href="#">About</a>
        </div>
    </div> 
    </div>
    
    <h1 class="text-3xl font-bold underline text-clifford">
        Hello world!
    </h1>
</div>
<div>
    
</div>

{%endblock%}